*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}
body {
    background-image: url(./assets/img/tło-3.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    }
main{
display: flex;
align-items: center;
justify-content:space-around;
flex-direction:row;
flex-wrap: wrap;
}
.details{
display:block ;
font-size: 18px;
font-family:$font-family;
padding: 5em;
    
}
form{
display:flex;
flex-direction:column; 
text-align:center;  
background-color: white;
width:750px;
padding:15px;
font-family: $font-family;
font-size: 20px;
border-radius: 10px;
}
p{
text-transform: uppercase;
color: #494949;
font-weight: bolder;
}
label{
    text-transform: uppercase;
    color: #494949;
    font-weight: bolder;
    }

select{
padding: 5px;
margin: 10px;
white-space: nowrap;
-webkit-transition: 0.2s all;
transition: 0.2s all;
border-radius: 10px;
vertical-align: text-top;
font-weight: bolder;
    
}
input{
display:block;
font-size: 15px;
border-radius: 10px;
color: black;
padding: 5px;
margin: 5px;
text-align:center;
float:right;
background-color:$s-color;
}

option{
font-size: 1.5em;
}
.container4{
width: 500px; 
height: 500px;   
background-color: $s1-color;
display: flex;
flex-direction: column;
text-align: center;
padding: 5px;
border-radius: 10px;
opacity: 0,7;
}
.container4 p{
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, border;
font-size: 25px;
color: $s2-color;
text-transform: uppercase;
font-weight: 600;
}
#search-button{ color:$s2-color;
    text-transform: uppercase;
    text-decoration: none;
    background: $s1-color;
    border-radius: 5px;
    margin-left: 15px;
    padding: 11px;
    border: 2px solid $s2-color;
    display: inline-block;
    transition: all 0.4 ease 0s;
}
.submit8:hover {
color: $s1-color;
background: #34495e;
border-color:$s2-color;
transition: all 0.4s ease 0s;
}

#search2-form:hover{
color: $s1-color;
background: #34495e;
border-color:$s2-color;
transition: all 0.4s ease 0s;
font-size: 15px;
}
#btn8{
color: $s2-color;
text-transform: uppercase;
text-decoration: none;
background: white;
border-radius: 5px;
margin-left: 15px;
padding: 11px;
border: 2px solid $s2-color;
display: inline-block;
transition: all 0.4 ease 0s;
}
#btn8:hover{
color: $s1-color;
background:$s2-color;
border-color:$s2-color;
transition: all 0.4s ease 0s;
}
button{
    display:block;
    font-size: 15px;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin: 5px;
    text-align:center;
    float:right;
    background-color:$s-color;    
}
footer{
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 25px;
border-top-width: thin;
padding: 25px;
margin:25px;
color: $s1-color;
}

  ///// samolot /////
path:hover{
    fill:blue;
}
.occupied{
fill: red;
}
#ico_main:hover{
fill:hotpink;
}
.free {
    fill:greenyellow;
}
.occupied1{
fill: red;
}
.free1{
    fill:lawngreen;
}
.plane{
display: none;
width: 60vw;
height: 200vh;
flex-shrink: 1;
}
.active{
display: block;
}
.planeE{
display: none;
width:60vw;
height:200vh;
}
.active1{
display:block;
}
.planeS{
display: none;
width:60vw;
height:200vh;
}
.active2{ display:block;
}
.loty{
display: flex;
background: $s1-color;
}
 //// plane ////
.checkplane{
    border: $s1-color;
    border-style: solid;
    display: flex;
    flex-direction:column;
    padding: 25px;
    width: auto;
    text-align: center;
    border-radius: 10px;
}
////ticket /// 
.ticket{
display: flex;
flex-direction: column;
background: $s1-color;
height: 300px;
width: auto;
border-radius: 10px;
}
h1{
color:$s1-color;
font-size: 45px;
font-weight: 900;

}
h4{
color: cornflowerblue;
padding-top: 25px;
padding-left: 5px;
font-weight: bolder;
}
.nazwa{
margin: 5px;
background-color: orange;
border-radius: 10px;
}
.nazwa1{
display: flex;
flex-direction:row;
flex-basis: 55px;
font-size: 25px;
padding: 5px;

}
.nazwa4{
    padding-top: 25px;
    margin:10px
}
.nazwa6 {
    padding-top: 25px;
    margin:10px;
}
.nazwa6 p{
    color:cornflowerblue;
}
.nazwa4 p{
    color: cornflowerblue;
    font-size: 35px;
}

h2{
    padding-top: 35px;
    padding-left: 5px;
    margin:5px;
}


img{
    width: 200px;
    padding: 5px;
    
}
  ///// media ////
@media(max-width: 768px){
main{
    display: flex;
    justify-content: center;
    text-align: center
    margin 5px;
    padding: 5px;
    }
}
@media(max-width: 600px){
    main{
    display: flex;
    justify-content: center;
    text-align: center
   
}
}
@media(max-width: 375px){
    main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 25px;
    padding: 15px;
   
    
    }
}
    