*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./assets/img/tło-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
main{
  display: flex;
align-items: center;
justify-content:space-around;
flex-direction:row;
flex-wrap: wrap;
}
.details{
display:block ;
font-size: 18px;
font-family:Tahoma;
padding: 5em;
  
}
form{
display:flex;
flex-direction:column; 
text-align:center;  
background-color: white;
width:650px;
padding:15px;
font-family:Tahoma;
font-size: 18px;
font-weight:normal;
border-radius: 10px;


}   
select{
padding: 5px;
margin: 10px;
white-space: nowrap;
-webkit-transition: 0.2s all;
transition: 0.2s all;
border-radius: 10px;
vertical-align: text-top;
  
}
input{
display:block;
font-size: 15px;
border-radius: 10px;
color: black;
padding: 5px;
margin: 5px;
text-align:center;
float:right;
background-color: lawngreen;
}

option{
font-size: 1.5em;

}

.container4{

width: 500px; 
height: 500px;   
background-color: #FFF;
display: flex;
flex-direction: column;
text-align: center;
padding: 5px;
border-radius: 10px;
opacity: 0,7;



}
.container4 p{
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, border;
font-size: 25px;
color: #494949;
text-transform: uppercase;
font-weight: 600;
}

#search-button{
color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  border-radius: 5px;
  margin-left: 15px;
  padding: 11px;
  border: 2px solid #494949;
  display: inline-block;
  transition: all 0.4 ease 0s;
}

.submit8:hover{
color: #ffffff;
background: #34495e;
border-color:#494949;
transition: all 0.4s ease 0s;
}
  


#search-button:hover{
color: #ffffff;
background:#494949;
border-color:#494949;
transition: all 0.4s ease 0s;
}

#btn8{
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  border-radius: 5px;
  margin-left: 15px;
  padding: 11px;
  border: 2px solid #494949;
  display: inline-block;
  transition: all 0.4 ease 0s;
}
#btn8:hover{
  color: #ffffff;
  background:#494949;
  border-color:#494949;
  transition: all 0.4s ease 0s;
  }

footer{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25px;
  border-top-width: thin;
  padding: 25px;
  margin:25px;
  color: white;
}

///// samolot /////

.occupied{
  fill: red;
}
#ico_main:hover{
  fill:hotpink;
}
.free {
  fill:greenyellow;
}

.occupied1{
  fill: red;
}
.free1{
  fill:lawngreen;
}

.plane{
  display: none;
  width: 60vw;
  height: 200vh;
  flex-shrink: 1;

}
.active{
  display: block;
}

.planeE{
  display: none;
  width:60vw;
  height:200vh;
}
.active1{
  display:block;
}
.planeS{
  display: none;
  width:60vw;
  height:200vh;
}
.active2{
  display:block;
}
.loty{
  display: flex;
  background: white;
}




//// plane ////

.checkplane{
  border: white;
  border-style: solid;
  display: block;
  flex-direction:column;
  max-width: 1500px;
  max-height: 800px;
}
////ticket /// 

.ticket{
display: flex;
flex-direction: column;
background: white;
height: 200px;
width: 800px;
  }

h1{
 color:white;
font-size: 45px;
font-weight: 900;
}
.nazwa{
margin: 5px;
background-color: orange;
}
.nazwa1{
display: flex;
flex-direction: column;
}
///// media ////

@media(max-width: 768px){
  header #header, header nav, header li{
    float:none;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
   font-size: 15px;
  }
  header{
    padding-bottom: 15px;
  }
  main{
    display: block;
    justify-content: center;
    text-align: center
    margin 5px;
    padding: 5px;
  }
}

@media only screen and (max-width: 600px){


main{
  display: block;
  justify-content: center;
  text-align: center
  margin 5px;
  padding: 5px;
  flex-direction: column;
}
}